absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alabaster
albucore
albumentations
ale-py
alembic
altair
annotated-types
annoy
ansicolors
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
args
array_record
arrow
arviz
astropy
astropy-iers-data
asttokens
astunparse
atpublic
attrs
audioread
autograd
babel
backcall
bayesian-optimization
beartype
beautifulsoup4
betterproto
bigframes
bigquery-magics
bleach
blinker
blis
blobfile
blosc2
bokeh
Boruta
boto3
botocore
Bottleneck
-e git+https://github.com/SohierDane/BigQuery_Helper@8615a7f6c1663e7f2d48aa2b32c2dbcb600a440f#egg
bqplot
branca
CacheControl
cachetools
Cartopy
catalogue
catboost
category_encoders
certifi
cesium
cffi
chardet
charset-normalizer
Chessnut
chex
clarabel
click
click-plugins
cligj
clint
cloudpathlib
cloudpickle
cmake
cmdstanpy
colorama
colorcet
colorlog
colorlover
colour
comm
community
confection
cons
contourpy
coverage
cramjam
cryptography
cuda-bindings
cuda-python
cudf-cu12
cudf-polars-cu12
cufflinks
cuml-cu12
cupy-cuda12x
cuvs-cu12
cvxopt
cvxpy
cycler
cyipopt
cymem
Cython
cytoolz
daal
dacite
dask
dask-cuda
dask-cudf-cu12
dask-expr
dataclasses-json
datascience
datasets
db-dtypes
dbus-python
deap
debugpy
decorator
deepdiff
defusedxml
Deprecated
diffusers
dill
dipy
distributed
distributed-ucxx-cu12
distro
dlib
dm-tree
dnspython
docker
docker-pycreds
docstring-to-markdown
docstring_parser
docutils
dopamine_rl
duckdb
earthengine-api
easydict
easyocr
editdistance
eerepr
einops
eli5
email_validator
emoji
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256
entrypoints
et_xmlfile
etils
etuples
execnb
Farama-Notifications
fastai
fastcore
fastdownload
fastjsonschema
fastprogress
fastrlock
fasttext
featuretools
filelock
fiona
firebase-admin
Flask
flatbuffers
flax
folium
fonttools
fqdn
frozendict
frozenlist
fsspec
funcy
fury
future
fuzzywuzzy
gast
gatspy
gcsfs
GDAL
gdown
geemap
gensim
geocoder
geographiclib
geojson
geopandas
geopy
ghapi
gin-config
gitdb
GitPython
glob2
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-automl
google-cloud-bigquery
google-cloud-bigquery-connection
google-cloud-bigtable
google-cloud-core
google-cloud-dataproc
google-cloud-datastore
google-cloud-firestore
google-cloud-functions
google-cloud-iam
google-cloud-language
google-cloud-pubsub
google-cloud-resource-manager
google-cloud-spanner
google-cloud-storage
google-cloud-translate
google-cloud-videointelligence
google-cloud-vision
google-colab @ file:///colabtools/dist/google_colab-1.0.0.tar.gz
google-crc32c
google-genai
google-generativeai
google-pasta
google-resumable-media
google-spark-connect
googleapis-common-protos
googledrivedownloader
gpxpy
graphviz
greenlet
grpc-google-iam-v1
grpc-interceptor
grpcio
grpcio-status
grpclib
gspread
gspread-dataframe
gym
gym-notices
gymnasium
h11
h2
h2o
h5netcdf
h5py
haversine
hdbscan
hep_ml
hf-xet
hf_transfer
highspy
holidays
holoviews
hpack
html5lib
htmlmin
httpcore
httpimport
httplib2
httpx
huggingface-hub
humanize
hyperframe
hyperopt
ibis-framework
id
idna
igraph
ImageHash
imageio
imageio-ffmpeg
imagesize
imbalanced-learn
immutabledict
importlib_metadata
importlib_resources
imutils
in-toto-attestation
inflect
iniconfig
intel-cmplr-lib-rt
intel-cmplr-lib-ur
intel-openmp
ipyevents
ipyfilechooser
ipykernel
ipyleaflet
ipympl
ipyparallel
ipython
ipython-genutils
ipython-sql
ipytree
ipywidgets
isoduration
isoweek
itsdangerous
Janome
jax
jax-cuda12-pjrt
jax-cuda12-plugin
jaxlib
jedi
jeepney
jellyfish
jieba
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter-console
jupyter-events
jupyter-leaflet
jupyter-lsp
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-lsp
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaggle
kaggle-environments
kagglehub
keras
keras-core
keras-cv
keras-hub
keras-nlp
keras-tuner
keyring
kiwisolver
kornia
kornia_rs
kt-legacy
langchain
langchain-core
langchain-text-splitters
langcodes
langid
langsmith
language_data
launchpadlib
lazr.restfulclient
lazr.uri
lazy_loader
learntools @ git+https://github.com/Kaggle/learntools@9188cafa2795c2cb720981631280853a7e55649c
libclang
libcudf-cu12
libcugraph-cu12
libcuml-cu12
libcuvs-cu12
libkvikio-cu12
libpysal
libraft-cu12
librosa
libucx-cu12
libucxx-cu12
lightgbm @ file:///tmp/lightgbm/lightgbm-4.6.0-py3-none-linux_x86_64.whl
lightning-utilities
lime
line_profiler
linkify-it-py
llvmlite
lml
locket
logical-unification
lxml
Mako
mamba
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
matplotlib-venn
mdit-py-plugins
mdurl
miniKanren
missingno
mistune
mizani
mkl
mkl-fft
mkl-random
mkl-service
mkl-umath
ml-dtypes
mlcrate
mlxtend
mne
model-signing
more-itertools
moviepy
mpld3
mpmath
msgpack
multidict
multimethod
multipledispatch
multiprocess
multitasking
murmurhash
music21
mypy_extensions
namex
narwhals
natsort
nbclassic
nbclient
nbconvert
nbdev
nbformat
ndindex
nest-asyncio
networkx
nibabel
nilearn
ninja
nltk
notebook
notebook_shim
numba
numba-cuda
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvcomp-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
nvtx
nx-cugraph-cu12 @ https://pypi.nvidia.com/nx-cugraph-cu12/nx_cugraph_cu12-25.2.0-py3-none-any.whl
oauth2client
oauthlib
odfpy
olefile
omegaconf
onnx
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
openslide-bin
openslide-python
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optax
optree
optuna
orbax-checkpoint
orderly-set
orjson
osqp
overrides
packaging
pandas
pandas-datareader
pandas-gbq
pandas-profiling
pandas-stubs
pandasql
pandocfilters
panel
papermill
param
parso
parsy
partd
path
path.py
pathlib
pathos
patsy
pdf2image
peewee
peft
pettingzoo
pexpect
phik
pickleshare
pillow
platformdirs
plotly
plotly-express
plotnine
pluggy
plum-dispatch
ply
polars
pooch
portpicker
pox
ppft
preprocessing
preshed
prettytable
proglog
progressbar2
prometheus_client
promise
prompt_toolkit
propcache
prophet
proto-plus
protobuf
psutil
psycopg2
ptyprocess
pudb
puremagic
py-cpuinfo
py4j
pyaml
PyArabic
pyarrow
pyasn1
pyasn1_modules
pybind11
pycairo
pyclipper
pycocotools
pycparser
pycryptodome
pycryptodomex
pycuda
pydantic
pydantic_core
pydata-google-auth
pydegensac
pydicom
pydot
pydotplus
PyDrive
PyDrive2
pydub
pyemd
pyerfa
pyexcel-io
pyexcel-ods
pygame
pygit2
pygltflib
Pygments
PyGObject
PyJWT
pyLDAvis
pylibcudf-cu12
pylibcugraph-cu12
pylibraft-cu12
pymc
pymc3
pymongo
Pympler
pymystem3
pynndescent
pynvjitlink-cu12
pynvml
pyogrio
Pyomo
PyOpenGL
pyOpenSSL
pyparsing
pypdf
pyperclip
pyproj
pyshp
PySocks
pyspark
pytensor
pytesseract
pytest
python-apt
python-bidi
python-box
python-dateutil
python-json-logger
python-louvain
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
python-utils
pytools
pytorch-ignite
pytorch-lightning
pytz
PyUpSet
pyviz_comms
PyWavelets
PyYAML
pyzmq
qgrid
qtconsole
QtPy
raft-dask-cu12
rapids-dask-dependency
ratelim
ray
referencing
regex
requests
requests-oauthlib
requests-toolbelt
requirements-parser
rfc3161-client
rfc3339-validator
rfc3986-validator
rfc8785
rgf-python
rich
rmm-cu12
roman-numerals-py
rpds-py
rpy2
rsa
rtree
s3fs
s3transfer
safetensors
scikit-image
scikit-learn
scikit-learn-intelex
scikit-multilearn
scikit-optimize
scikit-plot
scikit-surprise
scipy
scooby
scs
seaborn
SecretStorage
securesystemslib
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
semver
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
setuptools-scm
shap
shapely
shellingham
Shimmy
sigstore
sigstore-protobuf-specs
sigstore-rekor-types
simple-parsing
simpleitk
simplejson
simsimd
siphash24
six
sklearn-compat
sklearn-pandas
slicer
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
spanner-graph-notebook
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlglot
sqlparse
squarify
srsly
stable-baselines3
stanio
statsmodels
stopit
stringzilla
stumpy
sympy
tables
tabulate
tbb
tbb4py
tblib
tcmlib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-cloud
tensorflow-datasets
tensorflow-hub
tensorflow-io
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
tensorflow-text
tensorflow_decision_forests
tensorflowjs
tensorstore
termcolor
terminado
testpath
text-unidecode
textblob
texttable
tf-slim
tf_keras
Theano
Theano-PyMC
thinc
threadpoolctl
tifffile
tiktoken
timm
tinycss2
tokenizers
toml
toolz
torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchao
torchaudio @ https://download.pytorch.org/whl/cu124/torchaudio-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchdata
torchinfo
torchmetrics
torchsummary
torchtune
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp311-cp311-linux_x86_64.whl
tornado
TPOT
tqdm
traitlets
traittypes
transformers
treelite
treescope
triton
trx-python
tsfresh
tuf
tweepy
typeguard
typer
types-python-dateutil
types-pytz
types-setuptools
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
uc-micro-py
ucx-py-cu12
ucxx-cu12
ujson
umap-learn
umf
update-checker
uri-template
uritemplate
urllib3
urwid
urwid_readline
vega-datasets
visions
vtk
wadllib
Wand
wandb
wasabi
watchdog
wavio
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
woodwork
wordcloud
wrapt
wurlitzer
xarray
xarray-einstats
xgboost
xlrd
xvfbwrapper
xxhash
xyzservices
y-py
yarl
ydata-profiling
ydf
yellowbrick
yfinance
ypy-websocket
zict
zipp
zstandard
